<div class='logo'>
	<h1>Time Tracker</h1>
</div>

<!-- TODO -->
<% if current_user %>
	<ul class="custom-nav nav nav-tabs">
		<li class="<%= active?(root_path) %>">
			<%= link_to "Home", root_path %>
		</li>
		<li class="<%= active?(posts_path) %>">
			<%= link_to "Time Entries", posts_path %>
		</li>

		<!-- TODO: possibly refactor -->
		<%= render 'shared/audit_log_tab' if policy(AuditLog).index? %>

		<li class="<%= active?(new_post_path) %>">
			<%= link_to "Request overtime", new_post_path, id: 'new_post_from_nav' %>
		</li>
		<li class="dropdown pull-right">
			 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Options<strong class="caret"></strong></a>
			<ul class="dropdown-menu">

				<!-- TODO -->
				<% if current_user.try(:type) == 'AdminUser' %>
				<li>
					<%= link_to "Admin Dashboard", admin_root_path %>
				</li>
				<li class="divider"></li>
				<% end %>
				<!-- TODO -->

				<li>
					<%= link_to "Logout", destroy_user_session_path, method: :delete %>
				</li>
			</ul>
		</li>
	</ul>
<% end %>
<!-- TODO -->
