<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.overtime_request %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.fullname %>
  </td>
  <td>
    <%= link_to truncate(post.rationale), post %>
  </td>
  <td>
    <%= status_label post.status %>
  </td>
  <td>
    <%= link_to '', edit_post_path(post), class: 'glyphicon glyphicon-pencil index-icons', id: "edit_#{ post.id }" if policy(post).update? %>
  </td>
  <td>
    <%= link_to '', post_path(post), method: :delete, id: "delete_#{ post.id }", class: 'glyphicon glyphicon-trash index-icons', data: { confirm: "Are you sure?"} %>
  </td>
</tr>
