<div>
	<h2><%= @post.rationale %></h2>
</div>

<div class="well">
	<div>
		<h3><span>Overtime Amount Requested:</span> <%= @post.overtime_request %></h3>
	</div>

	<div>
		<h3><span>Employee:</span> <%= @post.user.fullname %></h3>
	</div>

	<div>
		<h3><span>Date:</span> <%= @post.date %></h3>
	</div>

	<div>
		<h3><span>Current Stage of Approval:</span> <%= @post.status %></h3>
	</div>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>
